canvas{
	width: 100%;
	background:black ;

}
body, html{
	height:100%;
	margin: 0;
}
p{

	/*content -width and Height*/
	width:60%;

	/*Border*/
border: 2px solid blue;
	
	/*Padding*/ 
	padding: 10px;
	
	/*margin*/
	margin: 200px;

}